{% load custom_filters %}

<h3>Grant Line Breakdown</h3>
<table>
    <tr>
        <th>Grant Line</th>
        <th>Budgeted</th>
        <th>Remaining</th>
        <th>Spent</th>
        <th>Income</th>
    </tr>
    {% for line in linesList %}
        <tr>
            <td>{{line.lineName}}</td>
            <td style="text-align: right;">{{ line.budgeted | money }}</td>
            <td style="text-align: right;">{{ line.remaining | money }}</td>
            <td style="text-align: right;">{{ line.spent | money }}</td>
            <td style="text-align: right;">{{ line.income | money }}</td>
        </tr>
    {% endfor %}
</table>
<h4>Unbudgeted: {{unbudgeted | money }}</h4>
<button onclick="document.getElementById('breakdown').innerHTML = ''">
    Close
</button>