{% load static %}
{% load custom_filters %}

<div id="tableAndForm">

    <table border="1">
        <tr>
            {% for field in aliasNames %}
            <th>{{ field }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
        <tr>
            {% for field in fields %}
            {% if field in decimalFields %}
            <td style="text-align: right;">{{ row|get_attr:field }}</td>
            {% else %}
            <td>{{ row|get_attr:field }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div class="FormContainer">
        <form method="POST"
              hx-post="{% url 'insuranceRateTableUpdate' %}"
              hx-target="#tableAndForm"
              hx-swap="outerHTML">
            {% csrf_token %}

            {% for field in form %}
            <div class="FormGroup">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}

            <button type="submit">Submit</button>
            <p>{{ message }}</p>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.searchable-select').select2();
    });
</script>
