.table-container {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid #ddd;

}
.table-container table {
    width: 100%;
}
.table-container thead th {
    position: sticky;
    top: 0;
    background-color: #1f242d;
    z-index: 1;
}
table{
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
    align-items: left;
}
th{  /*th is table header*/
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
    background-color: #1f242d;
    color: #ffffff;  
}

td{
    color: white;
}

td:nth-child(odd){
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #424c5f;
    
}
td:nth-child(even){
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: rgb(29, 46, 79);
    
}

h1{
    text-align: left;
    padding-bottom: 5px;
}

