{% extends "WCHDApp/masterTemplate.html" %}
{% load static %}
{% load custom_filters %}


{% block title %} {{tableName}} Data{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDApp/css/tableStyling.css' %}"> 
    <h1>{{tableName}}</h1>
    <table border="1">
        <tr>
            {% for field in aliasNames%}
                <th>{{field}}</th>
            {% endfor%}
        </tr>
        {% for row in data%}
            <tr>
            {% for field in fields%}
                {% if field in decimalFields %}
                    <td style="text-align: right;">{{row|get_attr:field|money}}</td>
                {% else %}
                    <td>{{row|get_attr:field}}</td>
                {% endif %}
            {% endfor%}
            </tr>
        {% endfor %}
    </table>
    {% if tableName == "Fund" %}
        <h3>Total Remaining: {{ total_remaining | money }}</h3>
        <h3>Total Budgeted: {{ total_budgeted | money }}</h3>
    {% else %}
        <h3>Accumulator: {{accumulator | money }}</h3>
    {% endif %}
{% endblock %}


