{% extends "WCHDApp/masterTemplate.html" %}
{% load static %}
{% load custom_filters %}


{% block title %} {{tableName}} Data{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDApp/css/tableStyling.css' %}"> 
    <h1>{{tableName}}</h1>
    {% if tableName == "InsuranceRate" %}
    <div style="margin-bottom: 20px;">
        <a href="{% url 'createEntry' 'InsuranceRate' %}" style="display: inline-block; padding: 10px 25px; background: #89CFF0; border: 2px solid #89CFF0; border-radius: 40px; box-shadow: 0 0 10px #89CFF0; font-size: 16px; color: black; font-weight: 600; text-decoration: none; cursor: pointer; transition: 0.5s;">Add Insurance Rate</a>
    </div>
    {% endif %}
    <table border="1">
        <tr>
            {% for field in aliasNames%}
                <th>{{field}}</th>
            {% endfor%}
        </tr>
        {% for row in data%}
            <tr>
            {% for field in fields%}
                {% if field in decimalFields %}
                    <td style="text-align: right;">{{row|get_attr:field|money}}</td>
                {% else %}
                    <td>{{row|get_attr:field}}</td>
                {% endif %}
            {% endfor%}
            </tr>
        {% endfor %}
    </table>
    {% if tableName == "Fund" %}
        <h3>Total Remaining: {{ total_remaining | money }}</h3>
        <h3>Total Budgeted: {{ total_budgeted | money }}</h3>
    {% endif %}
{% endblock %}


