{% extends "WCHDApp/masterTemplate.html" %}
{% load static %}


{% block title %}Transactions{% endblock %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="{% static 'WCHDApp/css/formStyling.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDApp/css/transactionView.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'WCHDApp/css/tableStyling.css' %}"> 
    

    <h1>Revenue/Reciepts</h1>

    <div style="margin-bottom: 20px;">
        <a href="{% url 'tableView' 'InsuranceRate' %}" style="display: inline-block; padding: 10px 25px; background: #89CFF0; border: 2px solid #89CFF0; border-radius: 40px; box-shadow: 0 0 10px #89CFF0; font-size: 16px; color: black; font-weight: 600; text-decoration: none; cursor: pointer; margin-right: 10px; transition: 0.5s;">View Insurance Rates</a>
        <a href="{% url 'createEntry' 'InsuranceRate' %}" style="display: inline-block; padding: 10px 25px; background: #89CFF0; border: 2px solid #89CFF0; border-radius: 40px; box-shadow: 0 0 10px #89CFF0; font-size: 16px; color: black; font-weight: 600; text-decoration: none; cursor: pointer; transition: 0.5s;">Add Insurance Rate</a>
    </div>

    <form
        hx-get="{% url 'transactionsView' %}"
        hx-target="#tableAndForm"
        hx-trigger="submit"
    >
        {% csrf_token %}
        <select name="itemSelect" 
        hx-get="{% url 'transactionsView' %}"
        hx-target="#tableAndForm"
        hx-trigger="change"
        class="searchable-select">
            <option default>Select Item</option>
            {% for item in items %}
                <option value="{{item.item_id}}">{{item}}</option>
            {% endfor %}
        </select>
        <button>View</button>
    </form>
    <div id="tableAndForm"></div>
    <!--
        <form method="POST" action="{% url 'transactionsItem' %}">
            {% csrf_token %}
            <select name="itemSelect" onchange="this.form.submit()">
                <option default>Select Item</option>
                {% for item in items %}
                    <option value="{{item.item_id}}">{{item}}</option>
                {% endfor %}
            </select>
        </form>
    
    -->
    <script>
        $(document).ready(function() {
            $('.searchable-select').select2();
        });
    </script>
{% endblock %}